<div id="mybody" class="wrapper no-bg-color">
    <header class="header">
        <div class="heading-title-holder">
            <div class="alignLEFT"><span class="heading-title">{{placeSearchResults.gname}}</span>
                <em class="heading-sub-title">{{placeSearchResults.formatted_address}}</em> </div>
            <a href="#" class="edit-holder"></a>
            <div class="overflow-holder" ng-hide="editorEnabled">
                <div>
                    <div class="alignLEFT"><span class="heading-title heading-fixed">{{placeSearchResults.gname}}</span>
                    <em class="heading-sub-title sub-heading-fixed">{{placeSearchResults.formatted_address}}</em> </div>
                  </div>
                    <a class="edit-holder" ng-click="enableEditor()"></a>
                </div>
                <div ng-show="editorEnabled" class="overflow-holder">
                    <div class="editable-input">
                    	<input ng-model="kiosk.editableTitle" ng-show="editorEnabled">
                    	<input ng-model="kiosk.editableAddress" ng-show="editorEnabled">
                    </div>
                    <div class="btn-holders margin-stack">
                    	<a ng-click="saveEditKiosk()" class="save-kiosk">Save</a>
<!--                    <span class="or-text">or</span>-->
                    	<a ng-click="disableEditor()" class="cancel-kiosk">cancel</a>
                    </div>
                </div>

        </div>
    </header>
    <div class="banner">
        <img ng-show='!placeAvatar' src="images/banner-2.png" alt="banner">
        <img  ng-show='placeAvatar' ng-src="{{placeAvatar}}"/>
        <!--<a href="#" class="camera-icon camera-icon-right"></a>-->
        <sweetplacepicselect align="center" showprogress="util.showProgress" swfile="user.avatarUrl" attr1="50" class="camera-icon camera-icon-right">
        	
        </sweetplacepicselect>
    </div>

	<span class="thankyou-title">Love your barista? say thank you!
    		<a href="#" class="edit-holder"></a>
    </span>


    <div ng-hide="editorEnabledTitle">
        <span class="thankyou-title">{{placeSearchResults.kioskthankyoutitle}}
    		<a class="edit-holder" ng-click="enableEditorTitle()"></a>
        </span>
    </div>
    <div ng-show="editorEnabledTitle" class="overflow-holder thankyou-title">
        <div class="editable-input">
        <input ng-model="kiosk.editablethankyouTitle">
        </div>
        <div class="btn-holders">
        <a ng-click="saveEditKioskThankyou()" class="save-kiosk">Save</a>
        <!--<span class="or-text">or</span>-->
        <a ng-click="disableEditorTitle()" class="cancel-kiosk">cancel</a></div>
    </div>


    <div class="container">
        <div class="claim-holder-box">
            <span class="work-title">Great! You can edit your info above and then preview to launch your thank you display.</span>
            <ul class="claim-holder clh-padding">
                <li><a ng-click="placeClaimBack()">back</a></li>
                <div ng-hide="launch">
                    <li><a class="active" ng-click="previewKiosk()">Preview</a></li>
                </div>
                <div ng-show="launch">
                    <li><a class="active" ng-click="launchKiosk()">Launch</a></li>
                </div>
            </ul>
        </div>
    </div>
    <div class="footer-GROUP" id="footer_GROUP">
        <div id="footerSlideContainer">
            <div class="detail" id="footerSlideButton" style="background-position: left top;"></div>
            <div id="footerSlideContent" style="height: 0px;">
                <div class="footer-Slider">
                    <input type="text" name="#" placeholder="enter your mobile number" class="textfield-kiosk">
                    <ul class="claim-holder claim-holder-kisok">
                        <li><a href="#">Cancel</a></li>
                        <li><a class="active" href="#">ok</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>