<header class="header new-page-style">
    <div class="heading-title-holder"> <span class="heading-title">Register</span> </div>
</header>
<form name="kiosk_user">
<div class="container_ROW">
    <div class="container">
        <div class="profile-connect">
                <fieldset>
                   <div class="inputfile-holder" ng-controller="CameraCtrl">
                      
                        <span class="profile-img-main heart-big-profile">
                           <img src="images/capture-img.png" ng-click="capturePhoto()" alt="Profile Picture"  ng-show='!userAvatar'>
                           <img ng-show='userAvatar' ng-click="capturePhoto()" ng-src="{{userAvatar}}" class="imgavatar"/>                           
                        </span>
                    </div>
                    <div ng-hide="editInfo">
                        <input type="text" class="textfield-holder" name="#" placeholder="Full name" ng-model="kiosk.fullname"
                               ng-minlength=3  ng-class="{error: kiosk_user.fullname.$invalid}">
                        <!--<input type="text" name="#" placeholder="Email Address" class="textfield-holder" ng-model="kiosk.vocation">-->
                        <input type="email" name="#" placeholder="Email Address" class="textfield-holder" ng-model="kiosk.email"
                               ng-class="{error: kiosk_user.email.$invalid}">
                    </div>
                    <div ng-show="editInfo">
                        <div class="editlabal" >{{infoUserChannal.fullNmae}}</div>
                        <div class="editlabal">{{infoUserChannal.email}}</div>
                    </div>
                    <!--<a class="visibility-btn" ng-click="setVisibility()">Set visibility</a>-->
                    <session ng-hide="pageUserFlag">
<!--                        <a class="visibility-btn" ng-click="searchPlaceKiosk()">Set Place</a>-->
                    </session>
                </fieldset>
        </div>
    </div>
</div>
<span class="kiosk_ADJUST">
    
</span>
<div class="footer_GROUP">
    <div class="footer_HO LDER">
        <div class="profile-connect-bottom no_PADDING_TOP">
            <ul class="submit-holder register_BUTTON_HOLDER">
                <li><a ng-click="kioskRegisterCancel()">Cancel</a></li>
                <li>
                    <!--<a ng-click="kioskRegister()" class="send-button register-button">Register</a>-->
                    <input type="submit" ng-click="kioskRegister()" class="register-button ios-btn" value="Register"
                           ng-disabled="kiosk_user.fullname.$pristine || kiosk_user.fullname.$dirty && kiosk_user.fullname.$invalid || kiosk_user.email.$pristine || kiosk_user.email.$dirty && kiosk_user.email.$invalid"
                           ng-class="{enable : !kiosk_user.fullname.$invalid || !kiosk_user.email.$invalid, disable : kiosk_user.fullname.$invalid || kiosk_user.email.$invalid}" />
                </li>
            </ul>
        </div>
    </div>
</div>
</form>